/* Variables */

:root {
    /* Font Family */
	--global--font-primary: 'Rubik', sans-serif;
	--global--font-secondary: 'Krona One', sans-serif;

    /* Colors */
    --global--vert-foret-sombre-100 : #102228;
    --global--vert-foret-sombre-80: #404E53;
    --global--vert-foret-sombre-50: #879093;
    --global--vert-foret-sombre-25: #C3C8C9;
    --global--blanc-fantome-100: #FDFDFD;
    --global--blanc-floral-100: #FAF6ED;
    --global--blanc-floral-50: #FCFAF6;
    --global--pomme-granny-100: #ADE28A;
    --global--pomme-granny-80: #BDE8A1;

    --global--font-color-milk: #FEFDFA;
    --global--font-color-corail-100: #FA9070;
    --global--font-color-noir-olive-100: #434443;
}


