
@mixin display-H1 {
    font-family: Krona One;
    font-size: 3.125rem; //50px
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin text-regular-H1 {
    font-size: 0.875rem; //14px
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin display-H4 {
    font-family: Krona One;
    font-size: 0.875rem; //14px
    font-style: normal;
    font-weight: 400;
    line-height: 159%; 
}

@mixin title-regular-H2 {
    font-family: Rubik;
    font-size: 1.5rem; // 24px
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

@mixin title-regular-H3 {
    font-size: 1.125rem; //18px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin text-regular-H2 {
    font-size: 0.75rem; //12px
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin text-regular-H3 {
    font-size: 0.625rem; // 10px
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin display-H2 {
    font-size: 1.5rem; // 24px
    font-family: Krona One;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

@mixin display-H3 {
    font-size: 1.125rem; // 18px
    font-family: Krona One;
    font-style: normal;
    font-weight: 400;
    line-height: 159%;
}

@mixin display-paragraph {
    font-family: Rubik;
    font-size: 1.25rem; // 20px
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

//input styles 
@mixin inputs-style {
    input {
        width: 100%;
        border: 1px solid var(--global--vert-foret-sombre-25);
        border-radius: 6px;
        min-width: 245px;
        min-height: 44px; 
        &[value] {font-size: 1em; padding-left: 10px;}
        background-color: white;
    };
    
    label {
        color: var(--global--vert-foret-sombre-80);
    }

    ::placeholder {
        color: var(--global--vert-foret-sombre-50);
        padding: 5px;

        font-family: Rubik;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    };
    :focus {
        border: solid 1px var(--global--pomme-granny-100);
        font-size: 1rem;
        outline: none !important;
        box-shadow: 0 0 2px;
        transition: 0.3s;
    } 
}

//radio and checkbox style
@mixin radio-checkboxes-style {
    label {color: var(--global--vert-foret-sombre-80);}
    :checked + label {font-size: 1rem ; transition: 0.5s ease-in;}
    input {accent-color: var(--global--vert-foret-sombre-80);}
}






