@use '../02-tools/mixins';
@use '../03-generic/breakpoints';

/**
 * "Be ready" block
*/


.be-ready {
    
    background-color: var(--global--vert-foret-sombre-25);
    position: relative;

    &::before {
        content:"";
        border-radius: 0 50% 50% 0;
        width: 48%;
        height: 100%;
        background-color: rgba(135, 144, 147, 0.20);

        display: block;
        position: absolute;

        @include breakpoints.tablet-only {
            background-color: rgba(135, 144, 147, 0.10);
        }
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        max-width: 1188px; /*fallback*/
        max-width: 83.369%; 
        margin: 0 auto;
        padding: 50px 50px 0px 50px;

        @include breakpoints.tablet-only {
            align-items: flex-start;
            padding: 50px 20px 0px 150px;
        }
        @include breakpoints.mobile-only {
            padding: 50px 15px 0px 15px;
        }

        &_fullscreen {
            min-height: 100vh;
        }

    }

    &__title {
        margin: 0;
        color: var(--global--vert-foret-sombre-100);
        z-index: 2;

        @include mixins.display-H1;
        @include breakpoints.tablet-only {
           font-size: 2.5rem;
        }
        @include breakpoints.mobile-only {
            font-size: 1.4rem;
        }
    }

    &__content {
        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        @include breakpoints.tablet-only {
            flex-direction: column;
        }
    }

    &__text {
        @include breakpoints.laptop {
            width: 570px; /*fallback*/
            width: 47.5%;
            padding: 10px;
        }
    }

    &__paragraph {
        @include mixins.title-regular-H2;

        position: relative;

        &::before {
            content: '';
            background-image: url(../images/be_ready/paragraph-bar1.svg);
            // background-size: 5px;
            background-size: 15px;
            background-repeat: no-repeat;
    
            position: absolute;
            display: block;
            width: 5px;
            height: 106px;
            height: 100%;

            transform: translate(-30px, 0px);

            @include breakpoints.mobile-only {
                transform: translate(-15px, 0px);
            }
        }

        &_top {
            color: var(--global--vert-foret-sombre-80);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

            &::before {
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
        }
        &_middle, &_bottom {
            color: var(--global--font-color-milk);
        }
    }

    &__image {

        @include breakpoints.laptop {
            transform: translateX(-100px);
        }
        @include breakpoints.desktop {
            width: 44.866%;
        }

        img {
            max-height: 100vh;
            width: 100%;
        }
    }

}